---
import Layout from "../../layouts/Layout.astro";
import {getSimpsons} from '../../lib/utils'
import {getSimpsonByName} from '../../lib/utils'

export async function getStaticPaths(){
    const data = await getSimpsons();
    return data.map(({Nombre}) => ({
        params:{
            Nombre: Nombre.trim()
        }
    }))
}


const {Nombre} = Astro.params
const data = await getSimpsonByName(Nombre ?? "")
---

<Layout title={`ASTRO-${Nombre}`}>
    <main class="grid place-items-center">
        <div class="border border-yellow shadow-lg rounded-md p-4 bg-zinc-800 max-w-fit flex gap-2 justify-around w-3/4">  
            <header class="flex flex-col gap-2 items-center">
                <h2 class="text-2xl font-bold text-brown" transition:name="simpson-name">{data?.Nombre}</h2>
                <div class="w-40 h-56">
                    <img transition:name="simpson-image" transition:animate="slide" src={data?.Imagen} alt={data?.Nombre} class="w-full h-full aspect-auto" />
                </div>
            </header>

            <div class="w-1/2 text-base flex flex-col gap-2">
                <p>{data?.Ocupacion}</p>
                <p>{data?.Historia}</p>
            </div>
        </div>
    </main>
</Layout>